<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757279698129-l08d5jevm506gmf37btkm61a5rrgs993.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757279698129-l08d5jevm506gmf37btkm61a5rrgs993</string>
	<key>API_KEY</key>
	<string>AIzaSyAjTtJvgLlTDDxhV5Vf_JZiFWOmGpckgLA</string>
	<key>GCM_SENDER_ID</key>
	<string>757279698129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourname.reflekt.reflektApp</string>
	<key>PROJECT_ID</key>
	<string>reflekt-journal-a436b</string>
	<key>STORAGE_BUCKET</key>
	<string>reflekt-journal-a436b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757279698129:ios:6f543c8b186f9d697169f0</string>
</dict>
</plist>